<div class="container">
    <div class="row align-items-center">
        <div class="col-12 mt-4 mb-4">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Pais</th>
        <th scope="col">Duracion</th>
        <th scope="col">Imdb</th>
        <th scope="col">Carrousel</th>
        <th scope="col">Estreno</th>
        <th scope="col">Proximo</th>
        <th scope="col">Imagen</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pelicula of peliculas">
        <th>{{pelicula.nombre}}</th>
        <td>{{pelicula.pais}}</td>
        <td>{{pelicula.duracion}}</td>
        <td>{{pelicula.imdb}}</td>
        <td>{{pelicula.carousel}}</td>
        <td>{{pelicula.estreno}}</td>
        <td>{{pelicula.proximo}}</td>
        <td><img src="{{pelicula.imgFicha}}" width="50px"></td>
        <td><a href="/admin/peliculas_alta"><i class="pi pi-plus imagebtn"></i></a><i class="pi pi-pencil imagebtn"></i><i class="pi pi-trash imagebtn"></i></td>
      </tr>
      
    </tbody>
  </table>
  </div></div></div>