<nav>
    <ul class="nav">
        <li class="item"><a routerLink="todas"  routerLinkActive="active-link">Todas las películas</a></li>
        <li class="item"><a routerLink="estrenos" routerLinkActive="active-link">Estrenos</a></li>
        <li class="item"><a routerLink="proximas" routerLinkActive="active-link">Próximas</a></li>
    </ul>
</nav>

<!-- <nav>
    <ul class="menu"> <li class="logo"><a href="#">Invisible App</a></li> <li class="item"><a href="#">Home</a></li> <li class="item"><a href="#">About</a></li> <li class="item"><a href="#">Services</a></li> <li class="item"><a href="#">Features</a></li> <li class="item"><a href="#">Blog</a></li> <li class="item"><a href="#">Contact</a> </li> <li class="item button"><a href="#">Log In</a></li> <li class="item button secondary"><a href="#">Sign Up</a></li> <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li> </ul> </nav> -->

