
<div class="row m-3">
	<p-card>
		<ng-template pTemplate="title">
			Confirmación
		</ng-template>
		<ng-template pTemplate="subtitle">
			Tu reserva se ha realizado con éxito, imprime esta página y mústrala en la entrada.
		</ng-template>
		<ng-template pTemplate="content">

			<div class="backgroudTicket">
				<div class="contenTicket">
					<!-- <img src="../../../../../assets/LOGO.png" alt="" class="logo"> -->
					<h4>{{asientos.titulo}}</h4>
					<p>Fecha reserva: {{asientos.fecha | date:'dd/MM/yyyy'}}</p>
					<p>Número de entradas: {{numAsiento}}</p>
					<p>Precio total: {{asientos.precio}}€</p>
					<p>{{asientos.butacas}}</p>
					<p>Sala: {{asientos.sala}} | Horario: {{asientos.hora}}</p>
					<!-- <p>Sala: {{asientos.sala}}</p> -->
					<img src="{{asientos.urlCaratula}}" width="180" alt="">
					<p>A nombre de: {{usuario.nombre}} {{usuario.apellidos}}</p>
					<p>Tarjeta: ****-****-****-{{numTarjeta}}</p>
				</div> 
			</div>

			<div class="footerButtoms">
				<button (click)="seguir()"type="submit" class="confirma">Terminar</button>
			</div>
		</ng-template>
		
	</p-card>
</div>