<header>
	<nav>
		<div>
			<a routerLink="todas" routerLinkActive="active-link"><img src="../../../../assets/LOGO.png" alt="" class="logo2"></a>
		</div>
		<input type="checkbox" id="check">
		<label for="check" class="bar-btn">
			<img src="../../../../assets/hamburger-menu.svg" width="14" height="14"/>
		</label>
		<ul class="nav-menu">
			<li><a routerLink="" routerLinkActive="active-link">Portada</a></li>
			<li><a routerLink="cartelera" routerLinkActive="active-link">Cartelera</a></li>
		</ul>
	</nav>
</header>
