.footerButtoms {
    display: flex;
    justify-content: space-between!important;
}

label {
    font-size: 14px;
}

button{
    margin-top: 25px;
    color: #FFF;
    // background-color: #3B82F6;
    border: 1px solid grey;
    padding: 5px;
    // transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    font-size: 14px;
    // cursor: pointer;
    // &:hover{
    //     background-color: #176cf5;
    // }
}

button[type="submit"]:disabled {
    background: grey;
  }

button[type="submit"]:enabled, .back {
margin-top: 25px;
color: #FFF;
background-color: #3B82F6;
border: 1px solid #3B82F6;
// padding: 5px;
transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
// border-radius: 6px;
// font-size: 14px;
cursor: pointer;
    &:hover{
        background-color: #176cf5;
    }
}

.alert {
    font-size: 12px;
    color: red;
}

input {
    width: 100%;
    font-size: 14px;
    color: #495057;
    background-color: #FFF;
    padding: 4px;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}
.confirma {
    background-color: green!important;
    border: 1px solid green!important;
    &:hover{
        background-color: rgb(2, 97, 2)!important;
    }

}