
<p-carousel [value]="carousels" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" > 
    <ng-template let-carousel pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <!-- <div class="p-mb-3">
                    
                </div> -->
                <div class="carousel">
                    <a href="/cartelera/fichapelicula/{{carousel._id}}" title="Acceder a la ficha de {{carousel.nombre}}"><img src="{{carousel.imgCarousel}}" alt="{{carousel.nombre}}"></a>
                </div>
                
            </div>
        </div>
    </ng-template>
</p-carousel>




