<div class="container">
<div class="row align-items-center">
    <div class="col-10 mt-4 mb-4">
    <form [formGroup]="Peliculasform" (ngSubmit)="CreaPeliculas()">
        <div class="mb-2">
          <label for="nombre" class="form-label">Nombre Pelicula</label>
          <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" aria-describedby="Nombre Pelicula">
        </div>
        <div class="mb-2">
          <label for="Descripcion" class="form-label">Descripcion</label>
          <textarea class="form-control" aria-label="Descripcion" formControlName="Descripcion" name="Descripcion" id="Descripcion"></textarea>
        </div>
        <div class="mb-2">
          <label for="genero" class="form-label">Genero</label>
          <input type="text" class="form-control" id="genero" formControlName="genero" name="genero" aria-describedby="Genero Pelicula">
        </div>
        <!-- <div class="mb-2">
          <label for="imgCarousel" class="form-label">Imagen Carrousel 1200x600</label>
          <input class="form-control" formControlName="imgCarousel" type="file" name="imgCarousel">
        </div>
        <div class="mb-2">
          <label for="imgFicha" class="form-label">Imagen ficha 220x330</label>
          <input class="form-control" formControlName="imgFicha" type="file" name="imgFicha">
        </div>
        <div class="mb-2">
          <label for="trailer" class="form-label">Trailer Mp4</label>
          <input class="form-control" formControlName="trailer" type="file" name="trailer">
        </div> -->
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
    </div>
</div>
</div>
