<div class="container">
<div class="row align-items-center">
    <div class="col-10 mt-4 mb-4">
    <form>
        <div class="mb-2">
          <label for="nombre" class="form-label">Nombre Pelicula</label>
          <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="Nombre Pelicula">
        </div>
        <div class="mb-2">
          <label for="Descripcion" class="form-label">Descripcion</label>
          <textarea class="form-control" aria-label="Descripcion" name="Descripcion" id="Descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
    </div>
</div>
</div>
