<div class="container">
<div class="row align-items-center">
    <div class="col-10 mt-4 mb-4">
    <form [formGroup]="myForm"  (ngSubmit)="CreaPeliculas()">
    

        <div class="mb-2">
          <label for="nombre" class="form-label">Nombre Pelicula</label>
          <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" aria-describedby="Nombre Pelicula">
        </div>
        <div *ngIf="!myForm.get('nombre')?.valid && ['required']" class="alertas">
          Campo Obligatorio. Debe tener mas de 3 caracteres.  

      </div>
        <div class="mb-2">
          <label for="descripcion" class="form-label">Descripcion</label>
          <textarea class="form-control" rows="4" aria-label="descripcion" formControlName="descripcion" name="descripcion" id="descripcion"></textarea>
        </div>
        <div *ngIf="!myForm.get('descripcion')?.valid && (myForm.get('descripcion')?.touched || submitted)" class="alertas">
          Debe escribir una descripcion de como minimo 50 caracteres. 

      </div>
        <div class="mb-2">
          <label for="genero" class="form-label">Genero</label>
          <input type="text" class="form-control" id="genero" formControlName="genero" name="genero" aria-describedby="Genero Pelicula">
        </div>
        <div *ngIf="!myForm.get('genero')?.valid && (myForm.get('genero')?.touched || submitted)" class="alertas">
          Por favor escriba un genero para la pelicula. No debe contener numeros ni caracteres especiales. 
      </div>
        <div class="mb-2">
          <label for="duracion" class="form-label">Duracion</label>
          <input type="text" class="form-control" id="duracion" formControlName="duracion" name="duracion" aria-describedby="Duracion Pelicula">
        </div>
        <div *ngIf="!myForm.get('duracion')?.valid && (myForm.get('duracion')?.touched || submitted)" class="alertas">
          Introduzca la duracion de la pelicula en minutos. 
      </div>
        <div class="mb-2">
          <label for="pais" class="form-label">Pais</label>
          <input type="text" class="form-control" id="pais" formControlName="pais" name="pais" aria-describedby="Pais Pelicula">
        </div>
        <div *ngIf="!myForm.get('pais')?.valid && (myForm.get('pais')?.dirty || submitted)" class="alertas">
          El Pais es un campo requerido. 
      </div>
        <div class="mb-2">
          <label for="imdb" class="form-label">Imdb</label>
          <input type="text" class="form-control" id="imdb" formControlName="imdb" name="imdb" aria-describedby="Puntuacion imdb">
        </div>
        <div *ngIf="!myForm.get('imdb')?.valid && (myForm.get('imdb')?.dirty || submitted)" class="alertas">
          Debe introducir la puntuacion de Imdb de la pelicula
      </div>
        <div class="mb-2">
          <label for="director" class="form-label">Director</label>
          <input type="text" class="form-control" id="director" formControlName="director" name="director" aria-describedby="Director Pelicula">
        </div>
        <div *ngIf="!myForm.get('director')?.valid && (myForm.get('director')?.dirty || submitted)" class="alertas">
          Escriba el director de la pelicula. 
      </div>
        <div class="mb-2">
          <label for="actores" class="form-label">Actores</label>
          <input type="text" class="form-control" id="actores" formControlName="actores" name="actores" aria-describedby="Actores Pelicula">
        </div>
        <div *ngIf="!myForm.get('actores')?.valid && (myForm.get('actores')?.dirty || submitted)" class="alertas">
          Escriba el/los actores de la pelicula. Si hay mas de uno debe estar separado por comas.  
      </div>
        <div class="mb-2">
          <label for="carousel" class="form-label">Carrousel</label>
          <select class="form-control" aria-label="carousel" name="carousel" formControlName="carousel">
            <option value="true" selected>Activo</option>
            <option value="false">Desactivado</option>
          </select>
        </div>
        <div *ngIf="!myForm.get('carousel')?.valid && (myForm.get('carousel')?.dirty || submitted)" class="alertas">
           Seleccione una opcion 
      </div>
      
        <div class="mb-2">
          <label for="estreno" class="form-label">Estreno</label>
          <select class="form-control" aria-label="estreno" name="estreno" formControlName="estreno">
            <option value="true">Activo</option>
            <option value="false" selected>Desactivado</option>
          </select>
        </div>
        <div *ngIf="!myForm.get('estreno')?.valid && (myForm.get('estreno')?.dirty || submitted)" class="alertas">
          Seleccione una opcion 
     </div>
        <div class="mb-2">
          <label for="proximo" class="form-label">Proximo</label>
          <select class="form-control" aria-label="proximo" name="proximo" formControlName="proximo">
            <option value="true">Activo</option>
            <option value="false" selected>Desactivado</option>
          </select>
        </div>
        <div *ngIf="!myForm.get('proximo')?.valid && (myForm.get('proximo')?.dirty || submitted)" class="alertas">
          Seleccione una opcion 
     </div>
        <div class="mb-2">
          <label for="imgCarousel" class="form-label">Imagen Carrousel 1200x600</label>
          <input class="form-control" type="file" (change)="onFileChangeimgCarousel($event)">
        </div>
        <div *ngIf="imgcarousel" class="mb-2" >
          <p>Preview Imagen Carrousel</p>
          <img src={{imgcarousel}}>

        </div>
        <div *ngIf="imgCarouselerror==true" class="alertas">
          Imagen no valida.  Debe ser una imagen Jpg o Png
     </div>
        <div class="mb-2">
          <label for="imgFicha" class="form-label">Imagen ficha 220x330</label>
          <input class="form-control"  type="file"  (change)="onFileChangeimgFicha($event)">
        </div>
        <div *ngIf="imgFichaweb" class="mb-2" >
          <p>Preview Imagen Ficha</p>
          <img src={{imgFichaweb}}>

        </div>
        <div *ngIf="imgFichaerror==true" class="alertas">
          Imagen no valida.  Debe ser una imagen Jpg o Png
     </div>
        <div class="mb-2">
          <label for="trailer" class="form-label">Trailer Mp4</label>
          <input class="form-control" type="file"  (change)="onFileChangetrailer($event)">
        </div> 

        <div *ngIf="trailerweb" class="mb-2" >
          <p>Preview trailer</p>
          <video src="{{trailerweb}}" width="420px" height="236px" controls></video>
        </div>
        <div *ngIf="trailererror==true" class="alertas">
          Video no valido.  Debe ser un video de tipo Mp4 o Webm
     </div>


        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
    </div>
</div>
</div>
