.color1 {
	background-color: #444451;
}

.color2 {
	background-color: red;
}

.color3 {
	background-color: orange;
}

body {
	text-align: center;
}

.butaca {
	margin-top: 2px;
	margin-left: 2px;
	width: 30px;
	height: 30px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	color: white;
	text-align: center;
}

.screen {
	background: #000;
	height: 70px;
	width: 450px;
	margin: 15px 0;
	transform: rotateX(-45deg);
	box-shadow: 0 3px 10px rgba(128,128,128,0.7);
  }