.butacaLibre {
	background-image: url('/assets/images/butacaLibre.png');
}

.butacaVendida {
	background-image: url('/assets/images/butacaOcupada.png');
}

.butacaReservada {
	background-image: url('/assets/images/butacaSeleccionada.png');
}

body {
	text-align: center;
}

.butaca {
	margin-top: 2px;
	margin-left: 2px;
	border: none;
	width: 26px;
	color: white;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.columnaFlex {
	margin: 10px;
}