<p-toast></p-toast>
<div class="stepsdemo-content m-3">
	<p-card>
		<div class="container" *ngIf="dataPelicula">
			<h2> {{ dataPelicula.nombre}} </h2>
		</div>
		<div class="container">
			<div  class="columnaFlex" *ngIf="dataPelicula">
				<img src="{{ dataPelicula.imgFicha}}" alt="{{ dataPelicula.nombre}}">
			</div>
			<div class="columnaFlex">
				<p-calendar [(ngModel)]="fechaSesion" [inline]="true" [firstDayOfWeek]="1" (onSelect)="getSalas($event)"></p-calendar>
			</div>
			<div class="columnaFlex" *ngIf="dataSesion[0].sala !== ''">
				<button *ngFor="let salaSesion of dataSesion" pButton pRipple type="button" class="p-button-outlined" (click)="getDispoSala( salaSesion.fecha, salaSesion._id )">{{ salaSesion.sala }} <br> {{ salaSesion.sesion }}</button>
			</div>
			<div class="columnaFlex" *ngIf="butacasVisible">
				<div class="mb-2">
					<img src="/assets/images/pantalla.png" width="420px">
				</div>
				<div class="mb-2 texto text-center">
					<img src="/assets/images/butacaOcupada.png"> Butaca Ocupada
					<img src="/assets/images/butacaLibre.png"> Butaca Libre
					<img src="/assets/images/butacaSeleccionada.png"> Butaca Seleccionada

				</div>
				<div *ngFor="let filas of dataButacas">
					<span *ngIf="filas.fila < 10" style="color: white;">1</span>{{ filas.fila }}
					<button 
						*ngFor="let butaca of filas.butacas" 
						class="butaca" 
						(click)="seleccionarAsiento( filas.fila, butaca.posicion )"
						[ngClass]="{'butacaLibre': butaca.ocupada === 'libre', butacaVendida: butaca.ocupada==='vendida', butacaReservada: butaca.ocupada === 'reservada' }"
						[disabled]="butaca.ocupada === 'vendida'"
						[ngStyle]="{'margin-right': (	butaca.posicion == 4 || butaca.posicion == 10) && filas.fila < 12 ? '28px' : '0px' }"
					>	
						&nbsp;
					</button>
				</div>
			</div>
		</div>
	</p-card>
	<button (click)="next()">Next</button>
</div>
