<div class="contenedor">
	<div class="m-2">
		<p-card>
			<app-card-peli [nombre]="nombre" [imgCaratula]="imgCaratula" [boton]="botonVisible"></app-card-peli> 

		</p-card>
		
	</div>
	<div class="m-2">
		<p-card>
			<div class="card video">
				<div class="card-body cardVideo">
					<video src="assets/videos/laAbuela720.mp4" width="420px" height="236px" poster="assets/laabuela.jpg" controls></video>
				</div>
			</div>
		</p-card>
	</div>
	<div class="m-2">
		<p-card>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">
							Duración:
						</div>
						<div class="col">
							100 minutos
						</div>
					</div>
					<div class="row">
						<div class="col">
							Pais:
						</div>
						<div class="col">
							España
						</div>
					</div>
					<div class="row">
						<div class="col">
							Género:
						</div>
						<div class="col">
							Terror
						</div>
					</div>
					<div class="row">
						<div class="col">
							Estreno:
						</div>
						<div class="col">
							28-01-2022
						</div>
					</div>
					<div class="row">
						<div class="col">
							Directores:
						</div>
						<div class="col">
							Paco Plaza
						</div>
					</div>
					<div class="row">
						<div class="col">
							Guionistas:
						</div>
						<div class="col">
							Carlos Vermut
						</div>
					</div>
					<div class="row">
						<div class="col">
							Productores: 
						</div>
						<div class="col">
							Apache Films, Atresmedia
						</div>
					</div>
					<div class="row">
						<div class="col">
							Actores:	
						</div>
						<div class="col">
							Almudena Amor, Chacha Huang, Karina Kolokolchykova, Vera Valdez
						</div>
					</div>
				</div>
			</div>
		</p-card>
	</div>
	<div class="m-2">
		<p-card>
			<div class="card">
				<div class="card-body">
					<div class="row p-2">
						Sinopsis: 
					</div>
					<div class="row p-2">
						Susana tiene que dejar su vida en París trabajando como modelo para regresar a Madrid. Su abuela Pilar acaba de sufrir un derrame cerebral. Años atrás, cuando los padres de Susana murieron, su abuela la crio como si fuese su propia hija. Susana necesita encontrar a alguien que cuide de Pilar, pero lo que deberían ser solo unos días con su abuela, se acabarán convirtiendo en una terrorífica pesadilla.
					</div>
				</div>
			</div>
		</p-card>
	</div>
</div>
