<p-toast></p-toast>
<div class="contenedor">
	<!-- <div [ngStyle]="{'background-image': 'url(' + dataPelicula.imgCarousel + ')'}" class="background">wwww</div> -->
	<div [style.background-image]="'linear-gradient(-225deg, rgba(0,0,0,0.6) 50%, rgba(0,36,61,0.6) 80%), url(' + dataPelicula.imgCarousel + ')'" class="background">wwww</div>
	
	<div class="firstContent">
			<div class="fichaContent">
			<app-card-peli [nombre]="dataPelicula.nombre" [imgCaratula]="dataPelicula.imgFicha" [boton]="botonVisible"></app-card-peli> 
			</div>
			<div class="detailsContent stdContent">
				<p><b>Duración:</b> {{dataPelicula.duracion}}</p>
				<p><b>País:</b> {{dataPelicula.pais}}</p>
				<p><b>Género:</b> {{dataPelicula.genero}}</p>
				<p><b>Dirección:</b> {{dataPelicula.director}}</p>
				<p><b>Reparto:</b> {{dataPelicula.actores}}</p>
				<button (click)="compraEntrada(id)">Comprar entrada</button>
			</div>
			
	</div>

	<div class="seconContent">
		<div class="stdContent">
			<video src="{{dataPelicula.trailer}}" width="100%" poster="{{dataPelicula.imgCarousel}}" controls></video>
		</div>
		<div class="stdContent sinopsis">
			<p>Sinopsis</p>
			<p>{{dataPelicula.descripcion}}</p>
		</div>
	</div>
</div>
